/* Testing */
/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}
#Meetings {background-color: cyan;}

#defaultOpen {
	
}
body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.intro {
	display: grid;
	grid-template-columns: 1fr 2fr;
    background: url(working_temp.jpg) top center; /* replace image */
	background-size: cover;
    padding: 30px;
    text-align: center;
	height: 100vh;
	
}

#navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 100;
  display: flex;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.chapter {
  display: none;
}

.cte {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


/* when a link is clicked, it gets highlighted */
.highlighted {
  color: red;
}

/* make each section taller and give them different colors */
.content {

}

.content div {
	text-align: center;
}

/* About Us */
#section1 {
  background-color: lightcoral;
  z-index: 10;
  
}

#about_grid {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto;
}
.slideshow {
	width: 100%;
	border: solid 10px black;
	
}
#values {
	width: 100%;
	background-color: blue;
	border: solid 10px blue;
}

#officers {
	grid-column: 1 / 3;
	background-color: yellow;
	grid-row: 500px;
}

/* Caurosel Code 

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	height: auto;
    margin: auto;
	width: 50%;
  } */
  
#officer_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: magenta;
	justify-items: stretch;
}

.officer_pic {
	height: 300px;
	border: 2px solid blue;
}

.officer_desc {
	height: 200px;
	background-color: orange;
	border: 2px solid red;
}

#section2 {
  background-color: lightblue;
  height: 100vh;
}

.home_grid {
	grid-template-columns: 50%, 50%;
	grid-template-rows: auto;
	justify-items: center;
	align-items: center;
}

#section3 {
  background-color: lightgreen;
  height: 1000px;
}

.breakpoint {
	display:?;
	
}

#section4 {
	background-color: cyan;
	height: 1000px;
}

#section5 {
	background-color: pink;
	height: 100vh;
}
